@model List<Models.DTO.Sach>
@{
    ViewBag.Title = "Listproduct";
    Layout = null;
}

        <div class="body">
            <ul class="list-product container">
                
                    @foreach (var item in Model)
                    {
                <li>
                    <div class="product text-center">
                        <img src="asset/image/sale.png" alt="" class="sale" width=50>
                        <a href="/chi-tiet-sach-@item.ID"><img src="@item.Anh" alt=" " width="300" height=350></a>
                        <div class="text">
                            <span>@item.TenSach</span>
                            <br>
                           
                                <span>PRICE:@item.Gia</span><br><br><br><br>
                          
                        </div>

                        <a href="/chi-tiet-sach-@item.ID" class="buy-now ">Chi tiết</a>
                    </div>
                </li>
                    }
                    
            </ul>
        </div>
    
