@model List<Models.DTO.BinhLuan>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listcomment</title>
    <style>
        .user-comment{
            width:100%;
            display:flex;
            height:70px;
            margin-top:10px;
        }
        .avt_comment {
            width: 100px;
            height:70px;
            border-radius: 50px;
            
        }
        .info_user{
            margin-left:30px;
      
            flex:3;
            display:flex;
            border-radius:10px;
        }
        .comment-content {
            flex: 8;
            margin-left: 20px;
 
            border-radius: 10px;
            
        }
        .delete-comment{
            flex:1;
        }
        .anh {
        }
        .thongtin{
            height:70px;
            margin-left:20px;
        }
       
    </style>
</head>
<body>

    @foreach (var item in Model)
    {
    <div class="user-comment">
        <div class="info_user">
            <div class="anh">
                <img src="@item.KhachHang.AnhDaiDien" class="avt_comment" style="width:150px; border-radius:100px;"/>
            </div>
            <div class="thongtin">
                @if (item.AnDanh == true)
                {
                    <p>Người dùng :@item.ID</p>
                }
				else
				{
                    <p>@item.KhachHang.HoTen</p>
				}
                <p>@item.Sach.TenSach</p>
            </div>

        </div>
        <div class="comment-content">
            <p style="margin-left:30px;height:30px;">@item.NoiDung</p>
        </div>
       
    </div>

      }
      
    </body>
</html>
