
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Start</title>
</head>
<body>
    <div> 
        <input type="text" value="@ViewBag.NumberStart" readonly />
    </div>
</body>
</html>
