
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="~/Areas/Assets/fontawesome-free-6.3.0-web/css/all.min.css" rel="stylesheet" />
    <link href="~/Areas/Assets/css/navigation.css" rel="stylesheet" />
    <link href="~/Areas/Assets/css/Maintemp.css" rel="stylesheet" />
    
    <style>
        a {
            text-decoration: none;
        }

        .navigation {
            transition: all 0.2s;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul class="navigation-list">
                <li>
                    <a href="">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">ADMIN</span>
                    </a>
                </li>

                <li>
                    <a href="trang-chu-quan-li" class="home">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">HOME</span>
                    </a>
                </li>

                <li>
                    <a href="/khach-hang" class="TaiKhoan">
                        <span class="icon">
                            <ion-icon name="key-outline"></ion-icon>
                        </span>
                        <span class="title">Tài khoản</span>
                    </a>
                </li>

                <li>
                    <a href="/san-pham" class="Sanpham">
                        <span class="icon">
                            <ion-icon name="book-outline"></ion-icon>
                        </span>
                        <span class="title">Sản phẩm</span>
                    </a>
                </li>

                <li>
                    @{
                        int key = 1;
                    }
                    <a href="/don-hang-@key">
                        <span class="icon">
                            <ion-icon name="cart-outline"></ion-icon>
                        </span>
                        <span class="title">Đơn hàng</span>
                    </a>
                </li>

                <li>

                    <a href="/danh-muc-true">
                        <span class="icon">
                            <ion-icon name="copy-outline"></ion-icon>
                        </span>
                        <span class="title">Danh mục </span>
                    </a>
                </li>
                <li>

                    <a href="/thong-bao">
                        <span class="icon">
                            <ion-icon name="copy-outline"></ion-icon>
                        </span>
                        <span class="title">Thông báo </span>
                    </a>
                </li>


                <li>
                    <a href="/ma-giam-gia-false">
                        <span class="icon">
                            <ion-icon name="medkit-outline"></ion-icon>
                        </span>
                        <span class="title">Voucher</span>
                    </a>
                </li>

            </ul>
        </div>

        <!-- ==============main======================= -->
        <div class="main">
            <div class="header">
                <div class="header__totggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <div class="header__search">

                </div>
                <div class="header__user">
                    <a href="/tai-khoan-admin" class="modal-btn " data-modal-id="modal-000">
                        <i class="fa-solid fa-gear fa-2xl icon-setting"></i>
                    </a>
                </div>
            </div>
            @RenderBody()
            <!--  -->
        </div>


    </div>
 

   
    <script>
        var modalBtns = document.querySelectorAll('.modal-btn');

        modalBtns.forEach(function (btn) {
            btn.addEventListener('click', function () {
                var modalId = this.getAttribute('data-modal-id');
                var modal = document.getElementById(modalId);
                modal.style.display = "block";
            });
        });
        window.onclick = function (event) {
            if (event.target.classList.contains('modal')) {
                event.target.style.display = "none";
            }
        };
    </script>

    <script src="~/Areas/Assets/js/Temp.js"></script>
   
    <script src="https://unpkg.com/ionicons@latest/dist/ionicons.js"></script>
    <script src="~/Content/ckeditor/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckfinder/ckfinder/ckfinder.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
