

@model NewProject.Models.RegisterModels
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Clientassets/font/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/Clientassets/css/main.css" rel="stylesheet" />
    <link href="~/Clientassets/css/reset.css" rel="stylesheet" />

    <title>REGISTER-DAng Ky</title>
    <style>
        .thongbao {
            padding-top: 10px;
            font-size: 15px;
            color: #fff;
            list-style: none;
        }
    </style>
</head>

<body>
    <
    <div class="wrapper">
        <div class="form-input">

            <div class="content">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken();
                 
                    <div class="list-login" style="width:450px">
                        <form action="index.html">

                            <h3>Đăng kí</h3>
                            <input class="login" id="username" name="username" type="text" value="" placeholder="Tên Đăng Nhập "><br />
                            <div class="output">
                                <input class="login" id="password" name="password" type="password" placeholder="Mật Khẩu"> <br />
                            </div>
                            <div class="output">
                                <input class="login" id="confirm" name="confirm" type="password" placeholder=" Xác Nhận Mật Khẩu"> <br />
                                <div class="about">
                                    <a href="/dang-nhap"><p class="qmk">Đăng nhập</p></a>
                                    <a href="/trang-chu"><p class="dk">Trang chủ</p></a>
                                </div>
                            </div>
                            @Html.ValidationSummary(true, null, new { @class = "thongbao" });
                            <button>Đăng Kí</button>


                        </form>
                    </div>
                }
            </div>
        </div>
    </div>
</body>

</html>
