
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Clientassets/css/main.css" rel="stylesheet" />
    <link href="~/Clientassets/font/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/Clientassets/css/reset.css" rel="stylesheet" />

    <title>Quên mật khẩu</title>
    <style>
        .container {
            display: flex;
            flex-wrap: wrap;
            height: 30px;
        }

        .item {
            flex: 1;
            height: 100px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="form-input">

            <div class="content">
                <form action="/quen-mat-khau" method="post">

                    @Html.AntiForgeryToken();
                    @Html.ValidationSummary(true, null, new { @class = "alert alert-success" });
                    <div class="list-login" style="width:450px">

                        <h3>QUÊN MẬT KHẨU</h3>
                        <input class="login" id="username" name="username" type="text" value="" placeholder="Tên Đăng Nhập "><br />
                        <div class="output"> 
                            <input class="login" id="sodienthoai" name="sodienthoai" type="text" placeholder="Số điện thoại"> <br />
                            <input class="login" readonly value="Mật khẩu mới của bạn là : @ViewBag.Alert"><br />
                            <div class="container">
                                <a href="@Url.Action("Index","Home")" class="item">Trang chủ</a>
                                <a href="/dang-nhap" class="item">Đăng nhập</a>
                                <a href="/dang-ki" class="item">Đăng kí</a>
                            </div>
                        </div>
                        <button type="submit">Xác nhận</button>

                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
