@model List<Models.DTO.DonHang>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Percent_Order</title>
</head>
<body>
  
    @foreach (var item in Model)
    {
        @Html.Action("Percent_Order1","Home1",new {tensach = item.Sach.TenSach})
    }
</body>
</html>
