@using NewProject.Models
@using Models.DAO
@using NewProject.Controllers
@{

    var ac = new AccountDao();
    var session = (LoginModels)Session[LoginConstants.LOGIN_SESSION];

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link href="~/Clientassets/css/Home.css" rel="stylesheet" />
    <link href="~/Clientassets/font/fontawesome/css/all.css" rel="stylesheet" />

</head>
<body>
    <div id="wrapper">
    <div id="header" class="">
        <div class="container ds-flex">

            <a href=""><img src="~/Clientassets/image/logochude.png" alt="" style="height: 86px;"></a>

            <form action="/tim-kiem-sach" id="search">

                @Html.Action("HistorySearch", "Home")
                
                <button class="search_header"><i class="fa-solid fa-magnifying-glass "></i></button>


            </form>
        </div>
        <div class="list-product ">
            <nav>
                <ul class="container1">
                    <li><a href="/trang-chu">Trang Chủ </a></li>
                    <li><a href="/dang-ki">Đăng Ký </a></li>
                    <li>
                                @{

                                    if (session == null)
                                    {
                                        <a href="/dang-nhap">Đăng nhập</a>
                                    }
                                    else
                                    {
                                        var account = ac.Byname(session.username);
                                        if (account == 2)
                                        {
                                            <a href="/trang-chu-quan-li">Quản lí</a>
                                            <ul class="list-noname colorx">
                                              
                                                <li><a href="/dang-xuat">Đăng Xuất</a> <a href=""><i class="fa-solid fa-right-from-bracket red" style="color: white;"></i></a></li>
                                              
                                            </ul>

                                        }
                                        else
                                        {
                                            <a href="">@session.username</a>
                                            <ul class="list-noname colorx">
                                                <li><a href="/ho-so">Hồ Sơ</a> <a href=""><i class="fa-solid fa-user red" style="color: white;"></i></a></li>
                                                <li> <a href="/gio-hang">Giỏ Hàng</a>    <a href="" class="cart"> <i class="fa-solid fa-cart-shopping red " style="color: white;"></i> </a></li>
                                                <li><a href="/dang-xuat">Đăng Xuất</a> <a href=""><i class="fa-solid fa-right-from-bracket red" style="color: white;"></i></a></li>
                                            </ul>
                                        }
                                    }
                                }
                        
                    </li>
                </ul>
            </nav>
        </div>

    </div>
        </div>
    <div class="container body-content">
        @RenderBody()

    </div>
    <script src="~/Content/ckfinder/ckfinder/ckfinder.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
