*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
header {
    background-color: #33d7d4;
    color: aliceblue;
    text-align: center;
    width:100%;
    height:100px;
  
}
.header-list-item {
    width: 100%;
    height: 100px;
    display: flex;
}
.logo-shop{
    width: 30%;
    height:100px;
}
.logo-shop>img{
    height:80px;
    margin-top:10px;
    width:300px;
}
.box-search {
    width: 40%;
    height: 100px;
    border: none;
}
.box-search>form{
    margin-top:30px;
    margin-left:100px;
    border:none;
}
.list-item-header{
    width:30%;
    height:100px;
    display:flex;
}
.header-item-1{
    width:120px;
    height:100px;
}
.header-item-1>a{
    text-decoration:none;
    color:#fff;
    font-size:20px;
   
}
ul.container2 li {
   margin-top:45px;
}

ul.container2 li a {
    text-decoration: none;
    padding-left: 25px;
    font-size: 18px;
    color: rgb(158, 218, 246);
}

    ul.container2 li:hover a {
        color: red;
    }

ul.container2 {
    display: flex;
    list-style: none;
}

ul.container2 li:nth-child(3):hover .list-noname {
    display: block;
}
ul.container2 li {
    position: relative;
}

    ul.container2 li a {
        font-size: 20px;
        color:#fff;
    }
















.ds-flex {
    display: flex;
    justify-content: space-around;
    list-style: none;
    color: white;
}

.list-noname {
    display: none;
    padding-left: 0px;
}

.list-product {
    margin: 0 auto;
    width: 1270px;
    position: relative;
}

ul.ds-flex li a {
    color: white;
    text-decoration: none;
}

.container {
    width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

a.pad-0 img {
    position: absolute;
    left: 0px;
}



    ul.container1 li {
        margin-left: 30px;
    }

        ul.container1 li a {
            text-decoration: none;
            padding-left: 25px;
            font-size: 18px;
            color: rgb(158, 218, 246);
        }

        ul.container1 li:hover a {
            color: red;
        }

ul.container1 {
    display: flex;
    list-style: none;
}



form#search {
    padding-top: 20px;
    height: 50px;
}

.search_header {

    padding-top: 10px;

    background: none;
    color: black;
    border: none;
    font-size: 25px;
}

div.container.ds-flex {
    height: 30px;
    padding-bottom: 20px;
}

.search_input {
    height: 45px;
    width: 433px;
    border: 1px solid red;
    background-color: antiquewhite;
    border-radius: 50px;
}

    .search_input::placeholder {
        color: black;
        padding-left: 10px;
    }

ul.container1 li:nth-child(3):hover .list-noname {
    display: block;
}

.list-noname :hover {
    color: white;
    padding-left: 0px;
}

.list-noname li a {
    text-align: center;
    color: white !important;
}

.bell {
    padding-left: 20px;
    color: white;
    padding-top: 5px;
}

.cart {
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    padding-top: 15px;
}

.red {
    color: black;
}

.list-product {
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: antiquewhite;
}

ul.list-product li {
    display: flex;
    flex-basis: 23%;
    position: relative;
    min-height: 200px;
    padding-top: 30px;
    margin-bottom: 30px;
}

.product {
    border: 1px solid blue;
    padding-left: 0px;
    padding-right: 0px;
}

img {
    padding-left: 0px;
    padding-right: 0px;
}

div.box {
    background-color: rgb(171, 12, 240);
    /* margin-bottom: 10px; */
    display: inline-block;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 10px;
}

.body {
    margin-top: 10px;
}

.head {
    border-bottom: 1px solid rgb(171, 12, 240);
    padding-left: 0px;
}

#wp-content .container {
    min-height: 100px;
    /* border: 1px solid red; */
}

#wp-content {
    margin-bottom: 20px;
    margin-top: 20px;
}

.text-center {
    text-align: center;
}

span {
    color: black;
}

.buy-now {
    position: absolute;
    display: block;
    text-decoration: none;
    background-color: antiquewhite;
    color: antiquewhite;
    width: 100%;
    padding: 10px 10px;
    padding-left: 0px;
    padding-right: 0px;
    bottom: -35px;
}

ul.list-product li .product {
    position: relative;
    overflow: hidden;
}

    ul.list-product li .product:hover .buy-now {
        background-color: orange;
        bottom: 0px;
        transition: bottom 0.5s;
        font-size: 20px;
        color: black;
    }

    ul.list-product li .product:hover {
        transform: rotate(0.5deg);
    }

span {
    color: rgb(231, 12, 12);
}

.text {
    background-color: rgb(171, 226, 215);
}

ul.list-product li .product {
    border-radius: 5px;
}

.sale {
    position: absolute;
    top: 0px;
    right: 0px;
}

#content-2 {
    margin-top: 30px;
}

.list-search {
    flex-basis: 30%;
    background-image: url('https://static.vecteezy.com/system/resources/previews/004/968/002/original/cute-abstract-modern-background-free-vector.jpg');
    background-size: cover;
    min-height: 200px;
    position: relative;
    text-align: center;
    box-shadow: 10px 10px 10px rgb(244, 6, 6);
    margin-right: 50px;
}
/* .wp-content1{
    flex-basis: 50%;
   
} */
.wp-content1 {
    flex-basis: 70%;
    border: 2px solid darkblue;
}

.xx {
    background-color: antiquewhite;
    font-size: 20px;
    padding: 5px 5px;
    position: absolute;
    left: 0px;
    font-weight: bold;
}

ul li {
    list-style: none;
}

.list-option {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    padding-left: 0px;
}

    .list-option li {
        flex-basis: 45%;
        border: 1px solid red;
        padding: 10px 5px;
        margin-bottom: 15px;
    }

        .list-option li a {
            text-decoration: none;
            color: aliceblue;
        }

        .list-option li:nth-child(1) {
            background-color: rgb(171, 12, 240);
        }

        .list-option li:nth-child(2) {
            background-color: rgb(214, 86, 148);
        }

        .list-option li:nth-child(3) {
            background-color: rgb(244, 116, 19);
        }

        .list-option li:hover {
            transform: scale(1,1.5);
            transition: all 0,5s;
        }

.search {
    margin-bottom: 30px;
}

.colorx li a {
    color: white;
}

ul.list-noname li {
    padding-top: 5px;
}

body {
  
    background-size: cover;
}

ul.container1 li {
    position: relative;
}

.list-noname {
    position: absolute;
    width: 200px;
    background-color: black;
    text-align: center;
    left: 0px;
}

ul.container1 {
    
}

.list-noname {
    left: 0px;
}

    .list-noname li {
        border-bottom: 1px solid rgb(37, 36, 36);
        padding: 5px 0px;
        transition: 0.25 cubic-bezier(0.23, 1, 0.320, 1);
    }

        .list-noname li:hover {
            border-bottom: 1px solid red;
        }

#header {
    position: relative;
}

.ds-flex a img {
    position: absolute;
    left: -19px;
}

.search_input {
   
}

ul.container1 {
    position: absolute;
    bottom: -23px;
}

    ul.container1 li a {
        font-size: 20px;
        color: chartreuse;
    }

input::placeholder {
    font-size: 18px;
}

.list-noname {
    width: 212px;
}
@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}
#footer {
    background-color: rgb(45, 44, 44);
}

    #footer nav.container {
        display: flex;
    }

        #footer nav.container .left-content {
            flex-basis: 30%;
            border-right: 2px solid gray;
            color: aliceblue;
            padding: 10px 10px;
            position: relative;
        }

        #footer nav.container .right-content {
            flex-basis: 68%;
        }

ul.list-icon {
    font-size: 30px;
    color: rgb(235, 240, 227);
    margin-left: 0px;
    padding-left: 0px;
}

ul.support {
    display: flex;
    justify-content: space-around;
    color: white;
}

ul.list-contact {
    display: flex;
    justify-content: space-around;
    color: white;
}

.right-content {
    position: relative;
}

.contact h2 {
    color: white;
    position: absolute;
    left: 62px;
}

.image-list {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

#footer {
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 2px rgb(230, 70, 70);
}
@keyframes animationboxsearch {
    0%{
        height:0px;
    }
}