@model List<Models.DTO.Temp>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TempVoucher</title>
    <link rel="stylesheet" href="~/Clientassets/css/TempPage.css">
    <style>
        select{
            width:80%;
            height:40px;
            border-radius:50px;
            background-color:lightgray;
            border:none;
            text-align:center
        }
    </style>
</head>
<body>
    <select name="mgg" id="mgg">
        @if (Model.Count < 1)
        {
            <option value="">Bạn chưa có mã giảm giá</option>
        }
        else
        {
            foreach (var item in Model)
            {
            <option value="@item.Magiamgia.Ma">@item.Magiamgia.Ma - @item.Magiamgia.Giatri</option>
            }
        }

    </select>
  
 
</body>
</html>
