@model Models.DTO.DonHang

@{
    ViewBag.Title = "TempPage";
}

<html>
    <head>
        <title>Thông tin</title>
    </head>
    <body>
        <div style="background-color:aliceblue">
            <form action="/them-moi-don-hang" method="get">
                <input type="hidden" id="idsach" name="idsach" value="@Model.ID_Sach" />

                <p>ID thanh toán</p>
                <input type="text" id="idthanhtoan" name="idthanhtoan" />

                <input type="hidden" id="soluong" name="soluong" value="@Model.SoLuong" />
                <p>Mã giảm giá</p>
                <input type="text" id="MGG" name="MGG" />
                <p>Note</p>
                <input type="text" id="note" name="note" />
                <button type="submit">Đặt hàng</button>
            </form>
        </div>
    </body>
</html>
