@model Models.DTO.Sach
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TempProduct</title>
    <link rel="stylesheet" href="~/Clientassets/css/TempPage.css">
</head>
<body>

    
            <input type="hidden" name="idsach" value="@Model.ID" />
            <div class="image-product">
                <img src="@Model.Anh" width="100px;" style="border-radius:10px" />
            </div>
            <div class="item-prduct">
                <p>@Model.TenSach  </p>
                <p>@Model.Gia</p>
                
            </div>
      


   
</body>
</html>
