@model Models.DTO.DonHang

@{
    ViewBag.Title = "TempPage";
}

<html>
    <head>
        <title>Thông tin</title>
        <style>
            .content-temp {
                width: 100%;
                height: 420px;
                background-color: gray;
            }

            .user {
                width: 100%;
                height: 180px;
                border-bottom: 1px solid;
                display: flex;
                background-color: aqua;
            }
            .order {
                width: 100%;
                height:240px;
                border-bottom: 1px solid;
                display: flex;
                background-color: aqua;
            }

        </style>
    </head>
    <body>
        <div class="content-temp">
            <div class="user">
                @Html.Action("TempUser", "Order")
            </div>
            <div class="order">
                @Html.Action("TempProduct", "Order", new {idsach = Model.ID_Sach})
            </div>
        </div>
            <div style="background-color:aliceblue;text-align:center">
                <form action="/them-moi-don-hang" method="get">
                    <input type="hidden" id="idsach" name="idsach" value="@Model.ID_Sach" />


                    <p>Phương thức thanh toán</p>
                    <select id="idthanhtoan" name="idthanhtoan">
                        <option value="1">Thanh toán khi nhận</option>
                    </select>
                    <p>Số lượng</p>
                    <input type="text" id="soluong" name="soluong" value="@Model.SoLuong" />

                    <p>Mã giảm giá</p>
                    <input type="text" id="MGG" name="MGG" />
                    <p>Note</p>
                    <input type="text" id="note" name="note" />
                    <button style="margin-top:30px;" type="submit">Đặt hàng</button>
                    <a href="/chi-tiet-sach-@Model.ID_Sach">Trở về</a>
                </form>

            </div>

</body>
</html>
