@model Models.DTO.KhachHang
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TempUser</title>
    <link rel="stylesheet" href="~/Clientassets/css/TempPage.css">
</head>
<body>
    <div class="body_info" style="padding-top: 50px;">

        <div class="item_info">
            <h4>Họ và tên :</h4>
            <input type="text" value="@Model.HoTen" readonly>
        </div>
        <div class="item_info">
            <h4>Số điện thoại :</h4>
            <input type="text" value="@Model.SDT" readonly>
        </div>
        <div class="item_info">
            <h4>Email :</h4>
            <input type="text" value="@Model.Email" readonly>
        </div>
        <div class="item_info">
            <h4>Địa chỉ :</h4>
            <input type="text" value="@Model.Diachi" readonly>
        </div>

    </div>

    

</body>
</html>
