@model Models.DTO.DonHang

@{
    ViewBag.Title = "TempPage";
}

<html>
    <head>
        <title>Thông tin</title>
        <link rel="stylesheet" href="~/Clientassets/css/TempPage.css">
       
    </head>
    <body>
        
        <div class="order-content">
            <div class="voucher">
                <div class="title_voucher">
                    <p>Mã giảm giá </p>
                </div>
                @Html.Action("TempVoucher", "Order")

            </div>
            <div class="info-order">
                <div class="info_user">
                    <div class="title-info">
                        <h3>Thông tin của bạn</h3>
                        <small><i>(Vui lòng xác nhận thông tin)</i></small>
                    </div>
                    @Html.Action("TempUser","Order")
                </div>
                <div class="info_product">
                    <div class="title-info">
                        <h3>Thông tin sản phẩm</h3>
                        <small><i>(Vui lòng xác nhận thông tin)</i></small>
                    </div>
                    <div class="body_product" style="padding-top: 50px;">
                        <form action="/them-moi-don-hang" method="get">
                            <div style="overflow-x:hidden;overflow-y:auto;height:170px">
                                <div class="product-info" style="display:flex">
                                    @Html.Action("TempProduct", "Order")


                                </div>
                                <p style="margin-left:30px">Số lượng : <input type="number" style="width:50px" value="@Model.SoLuong" name="soluong" /></p>

                            </div>
                            <div class="thanhtoan">
                                <label> Phương thức thanh toán</label>
                                <select name="idthanhtoan" style="height:30px">
                                    <option value="1">Thanh toán khi nhận hàng</option>
                                </select>
                            </div>

                            <div class="thanhtoan">
                                <label> Mã giảm giá </label>
                                <input style="margin-left:70px" type="text" name="MGG" />
                            </div>
                            <div class="thanhtoan">
                                <label>Lưu ý </label>
                                <input style="margin-left:110px" type="text" name="note" />

                            </div>
                            
                           
                            <button class="btn-order" style="margin-left:200px;margin-top:30px;height:30px">Đặt hàng</button>
                        </form>

                    </div>
                </div>
                </div>
           
        </div>

    </body>
</html>
